/* AdviceStyles.css */
.advice-container {
  margin: auto 0;
  max-width: 100%; /* Add a max-width to contain the content */
}

.advice-container h2 {
  font-weight: 500;
  font-size: 27px;
  font-style: normal;
  color: #a88511;
  line-height: 29.7px;
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 20px;
}

.advice-content {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.advice-video iframe {
  flex: 1;
  margin-top: 25px;
  height: 305px;
  width: 500px;
  margin-left: 50px;
}

.advice-sections {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

.advice-item {
  padding: 0;
  margin-bottom: 10px;
}

.advice-item h3 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  color: #333333;
  line-height: 28.5714px;
  text-decoration: none;
  font-family: baskerville;
  letter-spacing: 0;
}

.advice-item p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #333333;
  line-height: 28.5714px;
  text-decoration: none;
  font-family: baskerville;
  letter-spacing: 0;
  text-align: justify;
}

.see-pricing img {
  max-width: 100%;
  height: auto;
}

.bottom-advice {
  margin-left: 50px;
  width: 95%;
}

.bottom-advice p {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #333333;
  line-height: 28.5714px;
  text-decoration: none;
  font-family: baskerville;
  letter-spacing: 0;
  text-align: justify;
}

.pricing-section h1 {
  font-weight: 400;
  font-size: 37px;
  font-style: normal;
  color: #000000;
  line-height: 52.8571px;
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .advice-content {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .advice-container h2 {
    margin-left: 20px;
  }

  .advice-video iframe {
    margin-left: 40px;
    width: 90%;
    height: 200px;
  }
  .advice-sections {
    margin-left: 30px;
    width: 95%;
  }

  .advice-container h2 {
    width: 400px;
  }

  .bottom-advice {
    margin-left: 20px;
  }
  .bottom-advice p {
    margin: 0;
    width: 95%;
  }

  .pricing-section h1 {
    text-align: center;
  }
}
