/* Card.css */
.card {
  width: 233px;
  height: 180px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #284060;
  margin: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px; /* Adjust as needed */
  border-top-right-radius: 10px; /* Adjust as needed */
}

.card-logo {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  margin-bottom: 3px;
  transition: transform 0.5s ease; /* Add transition for smooth animation */
}

.card:hover .card-logo {
  transform: rotateY(180deg); /* Apply 180-degree rotation on hover */
}

.card-description {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: #ffffff;
  line-height: 21.4286px;
  text-decoration: none;
  font-family: Georgia;
  letter-spacing: 0;
  padding: 0;
}

/* MainComponent.css */
.main-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media query for 768px and below */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Full width for mobile */
  }
}
